PORT=3001
JWTKEY=
JWT_REFRESH_KEY=
PASSWORD_SALT=10
MONGODB_URI=
DB_USER=
DB_PASSWORD=
FRONTEND_ORIGIN=http://localhost:3000
API_ORIGIN=http://localhost:3001
COOKIE_SECURE=

MAIL_SENDER=
MAIL_PASSWORD=

AWS_CONNECT_ACCESS_KEY=
AWS_CONNECT_SECRET_ACCESS_KEY=
AWS_CONNECT_REGION=
AWS_CONNECT_BUCKET_NAME=
